[run]
omit =
    */mtj/jibber/*py
    */python?.?/*
    */lib-python/?.?/*.py
    */lib_pypy/*.py
    */site-packages/*
    */src/*.py
    */.env*/*.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
